In [25]:
#Q-1

n = int(input("enter list length:"))
numlist=list(int(num) for num in input("enter the list number :").strip().split())[:n]
print("new list:",numlist)
numlist=list(set(numlist))
print("after removing duplicates:"+str(numlist))

enter list length:7
enter the list number :4 4 5 6 8 4 5
new list: [4, 4, 5, 6, 8, 4, 5]
after removing duplicates:[8, 4, 5, 6]

In [3]:
# Q-2

t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [14]:
#largest term

print(max(t))

5

In [15]:
#smallest term

print(min(t))

1

In [23]:
#sum
print(sum(t))

15

In [11]:
# Q3

num = int(input('num:'))
i=int(input('i:'))
mag_num=1<<i
original_num=num|mag_num
print(original_num)

num:13
i:1
15

In [1]:
#Q-4 

A=int(input("enter no: "))
print(A%2)

enter no: 6
0

In [29]:
# Q5
 
list_A=[2,5,7,9,10]
print("A="+str(list_A))
list_B=[5,4,9,8,6]
print("B="+str(list_B))
print(sorted(list_A+list_B))

A=[2, 5, 7, 9, 10]
B=[5, 4, 9, 8, 6]
[2, 4, 5, 5, 6, 7, 8, 9, 9, 10]

In [14]:
# Q6

students={'Berlin':70,'Oslo':0,'Moscow':50,'Nairobi':100}
print("input="+str(students))
tuple1=(('Belin',70),('Oslo',0),('Moscow',50),('Nairobi',100))
y=dict(sorted(tuple1,key=lambda x:x[1]))
print("output="+str(y))

input={'Berlin': 70, 'Oslo': 0, 'Moscow': 50, 'Nairobi': 100}
output={'Oslo': 0, 'Moscow': 50, 'Belin': 70, 'Nairobi': 100}